.paginations{
    display: inline-block;
    margin:0;
    padding:0;
    font-size: 22px;

}

.searchResultCard{
    border:5px;
    border-style: groove;
    margin:10px;
    width:500px;
}

.projectItems{
    cursor: pointer;
}

#singleView{
    margin: auto;
    width: 325px;
}

#paperDisplay{
    border: 3px;
    border-style: double;
    box-shadow: 5px 10px #a8a8a8    

}

#pageSelected{
    color: rgb(218, 50, 50)
}

#mainIcon{
    float:right;
}


